aio-pika


google-api-python-client
python-dotenv
httpx
pydantic
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-community
pika
langchain-ollama
langchain-google-genai
google-generativeai
protobuf==5.27.2
grpcio==1.64.1
grpcio-tools==1.64.1
